<h2 class="text-center my-5">{{!isEditing ? "Ajouter ": "Modifier "}}un employé</h2>

<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{errorMessage}}
</div>

<form *ngIf="errorMessage === '' " (ngSubmit)="onSubmit()" #employeeForm="ngForm"
  class="border rounded p-5 w-50 mx-auto">

  <div class="mb-3">
    <label class="form-label" for="firstName">Prénom*</label>
    <input required #firstName="ngModel" class="form-control" type="text" name="firstName"
      [(ngModel)]="employee.firstName">

    <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
      <div class="text-danger" *ngIf="firstName.errors?.['required']">
        Le prénom est requis
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="lastName">Nom*</label>
    <input required #lastName="ngModel" class="form-control" type="text" name="lastName"
      [(ngModel)]="employee.lastName">

    <div *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
      <div class="text-danger" *ngIf="lastName.errors?.['required']">
        Le nom est requis
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">Adresse email*</label>
    <input required email #email="ngModel" class="form-control" type="email" name="email" [(ngModel)]="employee.email">
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <div class="text-danger" *ngIf="email.errors?.['required']">
        L'email est requis
      </div>
      <div class="text-danger" *ngIf="email.errors?.['email']">
        L'email est invalide
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="phone">Numero de téléphone*</label>
    <input required #phone="ngModel" class="form-control" type="tel" name="phone" [(ngModel)]="employee.phone">
    <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
      <div class="text-danger" *ngIf="phone.errors?.['required']">
        Le numéro de téléphone est requis
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="position">Poste*</label>
    <input required #position="ngModel" class="form-control" type="text" name="position"
      [(ngModel)]="employee.position">
    <div *ngIf="position.invalid && (position.touched || position.dirty)">
      <div class="text-danger" *ngIf="position.errors?.['required']">
        Le poste est requis
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">
    {{!isEditing ? "Ajouter ": "Modifier"}}
  </button>
</form>